<head><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet"></head>
<body>
<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
  <div style="margin:50px auto;width:70%;padding:20px 0">
    <div style="border-bottom:1px solid #eee">
      <center><a href="" style="font-family: 'Shadows Into Light', cursive;font-size:2.4em;color: #000000;text-decoration:none;font-weight:600">Ola</a><a href="" style="font-family: 'Shadows Into Light', cursive;font-size:2.4em;color: #FF86A5;text-decoration:none;font-weight:600">y</a><a href="" style="font-family: 'Shadows Into Light', cursive;font-size:2.4em;color: #000000;text-decoration:none;font-weight:600">inks</a></center>
    </div>
    <center><p style="font-size:1.1em">Thank you for choosing us. To complete your registration as a creator, input the otp [[otp]] on the sign up site or click the activate now button below. If this was not you kindly disregard the message.</p>



    <p></p>
    <!--<h2 style="background: #00466a;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">324457</h2>
    -->
    <center><p style="font-size:1.1em">If you have any questions/issues regarding your account activation , feel free to contact us. </p>
    <p style="font-size:0.9em;">Regards,<br />Your Brand</p>
    <hr style="border:none;border-top:1px solid #eee" />
    <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300"></center>
      <p>CABO </p>
      <p>Victoria Island, Lagos</p>
      <p>Nigeria</p>
    </div>
  </div>
</div>  
</body>